#MexicoMapContainer {
    /* background-color: red; */
    color: green;

}

#info-map {
    position: fixed;
    top: 0;
    left: 0;
}

#info-map-content {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 179, 255);
    color: black;

}

#MXSON:hover,
#MXBCN:hover,
#MXCHH:hover,
#MXCOA:hover,
#MXTAM:hover,
#MXNLE:hover,
#MXROO:hover,
#MXCAM:hover,
#MXTAB:hover,
#MXCHP:hover,
#MXCOL:hover,
#MXNAY:hover,
#MXBCS:hover,
#MXSIN:hover,
#MXYUC:hover,
#MXVER:hover,
#MXJAL:hover,
#MXMIC:hover,
#MXGRO:hover,
#MXOAX:hover,
#MXMEX:hover,
#MXPUE:hover,
#MXMOR:hover,
#MXQUE:hover,
#MXHID:hover,
#MXGUA:hover,
#MXSLP:hover,
#MXZAC:hover,
#MXAGU:hover,
#MXDUR:hover,
#MXTLA:hover,
#MXCMX:hover {
    color: rgb(138, 206, 35);

}