@import "tailwindcss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    /* background-color: red; */

}

.header-title {
    text-align: center;
    padding: 20px;

}

.options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
    gap: 30px;
    padding-left: 100px;
}

.section-app {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.container-big-num {
    position: absolute;
    top: 0;
    right: 100px;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;

}

.big-num-title {
    font-size: 3rem;
    text-align: center;
    background-color: rgb(102, 204, 255);
    padding: 10px;
}

.big-num-value {
    padding: 10px;
    font-size: 2rem;
}

.opt-selector {
    padding: 10px;
    font-size: 1.2rem;
}